@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

img {
    vertical-align: top;
    border: 0;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
}

.hide{
    position: absolute;
    top: -9999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#wrap{
    min-width: 290px;
    max-width: 460px;
    width: 460px;
    margin: 0 auto;
}


.member-header {
    position: relative;
}
.logo {
    margin: 0 auto;
    padding: 5% 0 5% 0;
    text-align: center;
}

.logoLink {
    position: relative;
    display: block;
    width: 43.83%;
    max-width: 195px;
    max-height: 46px;
    margin: 0 auto;
    padding-top: 10%;
}




h1{ 
	font-size: 30px;
	margin-bottom: 5%;
}

#Search{
	display: flex;
}

#idSearch{
	padding: 10px;
	cursor: pointer; 
}

#pwSearch{
	padding: 10px;
	cursor: pointer; 
}



.current{
	border: 2px solid #0074e9;
	border-bottom: 0;
	color: #0074e9;
	font-weight: 700;
}

.tab-content{
 	display: none;
	padding: 12px;
	border: 2px solid #0074e9;
}

.tab-content.current{
	display: inherit;
	color: #333;
}












th{
    width: 120px;
    font-size: 20px;
    text-align: left;
    padding: 5% 3% 5% 3%;
}


td input{
    padding: 3% 27% 3% 5%;
    font-size: 16px;
}

.waring{
	font-size:12px;
}





.idBox2,.pwBox3{
    height: 125px;
}

#idEmailNum,#pwEmailNum{
    display: flex;
    padding: 5% 0 0 0;
    justify-content: space-between;
}

#idEmailNum input,#pwEmailNum input {
    width: 60%;
    padding: 3% 0; 
}

.idEmailBtn,.pwEmailBtn{
	cursor: pointer;
    padding: 10px 10px;
    background-color: #0074e9;
    color: #fff;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 38%);
    font-size: 12px;
    border: 0;
    font-weight: 700;
}




.Btn {
    margin: 5% 0 0 0;
    text-align: center;
}

.idSearchBtn, .pwSearchBtn {
    display: inline-block;
    padding: 15px 100px;
    background-color: #0074e9;
    color: #fff;
    box-shadow: inset 0 -2px 0 rgb(0 0 0 / 38%);
    font-size: 17px;
    line-height: 20px;
    border: 0;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
}